*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

main{
    background-color: #e5e5e5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,h3{
    font-family: 'Roboto', sans-serif;   
}